<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-floating mb-3">
    <p><%= f.label :email %></p>
    <p><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "name@example.com" %></p>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <% if @minimum_password_length %>
    <p><em><%= @minimum_password_length %> characters minimum</em></p>
  <% end %>
  <div class="form-floating mb-3">
    <p><%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "New Password" %></p>
    <p><%= f.label :password %> <i>(leave blank if you don't want to change it)</i></p>
  </div>

  <div class="field">
    <p><%= f.label :password_confirmation %></p>
    <p><%= f.password_field :password_confirmation, autocomplete: "new-password" %></p>
  </div>

  <div class="field">
    <p><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i></p>
    <p><%= f.password_field :current_password, autocomplete: "current-password" %></p>
  </div>

  <div class="actions mb-5">
    <%= f.submit "Update" %>
  </div>
<% end %>

<div class="alert alert-danger mt-5">
<h3>Cancel my account</h3>

<div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), class: "btn btn-danger", data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>
</div>
<%= link_to "Back", :back %>
