<% if current_user %>
    <div class="entries">
        <div></div>
        <div class="float-right row">
            <div class="entries-actions card">
                <%= link_to('New Entry', new_entry_path, class: 'btn btn-primary', data: {turbo_frame: 'main-dashboard'}) %>
            </div>
         </div>
        <div id="dashboard" class="card shadow-sm">
            <% if @entries.any? %>
                <div class="row">
                    <div class="entries-card">
                        <div class="entries-card__sidebar">
                            <nav id="entries-list" class="nav flex-column">
                                <%= render(@entries) %>
                            </nav>
                        </div>
                        <div class="entries-card__main">
                            <%= turbo_frame_tag('main-dashboard') do %>
                                <% if @main_entry %>
                                    <%= render(partial: 'entries/main', locals: { entry: @main_entry }) %>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                </div>
            <% else %>
                <div class="row">
                    <div class="card">
                        <div class="card-body">
                            <h2>No Entries Yet. <%= link_to "Add Entry", new_entry_path, class: 'btn btn-secondary' %>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
<% else %>
    <%= render('shared/homepage') %>
<% end %>